.primary-bg{
    background-color: $primary;
}

.secondary-bg{
    background-color: $secondary;
}

.p-20{
    padding: 80px;
}

.p-6{
    padding: 24px;
}

.mb-20{
    margin-bottom: 80px;
}

.mb-12{
    margin-bottom: 48px;
}

.mb-6{
    margin-bottom: 24px;
}

.mb-3{
    margin-bottom: 12px;
}

.px-20{
    padding-left: 80px;
    padding-right: 80px;
}

.py-30{
    padding-top: 120px;
    padding-bottom: 120px;
}

.ps-6{
    padding-left: 24px;
}


@import '~bootstrap/scss/bootstrap';

