$spacer: 4px;

$primary: #353535;
$secondary: #414141;
$tertiary: #D2D7DF;

//#BDBBB0;
//#8A897C
//#F5F5F5

.body {
    font-family: 'Montserrat', sans-serif;
}

@import './CustomSass/Header.scss';
@import './CustomSass/Card.scss';
@import './CustomSass/Tab.scss';
@import './CustomSass/Section.scss';
@import './CustomSass/Footer.scss';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/bootstrap';
